# Copy this to terraform.tfvars and fill in with real values, 
all these values should be changed

DB_PASSWORD = "CHANGE_ME"
AZURE_STORAGE_CONNECTION_STRING = "CHANGE_ME"
DB_HOST = "CHANGE_ME"
DB_PASSWORD = "CHANGE_ME"
DB_USER = "CHANGE_ME"
JWT_SECRET_KEY = "CHANGE_ME"
SENTRY_AUTH_TOKEN = "CHANGE_ME"
SENTRY_DSN = "CHANGE_ME"
SERVER_PORT = "CHANGE_ME"
USDA_FOODDATA_API_KEY = "CHANGE_ME"