name: Deploy/Update Expo App

on:
  push:
    branches:
      - main
    paths:
      - "frontend/apps/mobile/**"
      - ".github/workflows/mobile-deploy.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install Dependencies
        run: npm install
        working-directory: ./apps/mobile

      - name: Launch Update
        run: eas update --auto --non-interactive
